/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .register-form input, .register-form button {
        padding: 15px;
    }
}
