/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #218838;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    .login-form input, .login-form button {
        padding: 15px;
    }
}
